:root {
  --bg-1-section: #ffffff;
  --bg-2-section: #f5f5f5;
  --bg-1-details: #fed03d;
  --details-and-bg-separator: #333333;
  --bg-top-footer: #1f1f1f;
  --bg-bottom-footer: rgb(21, 21, 21);
  --bg-services-icon: #21a6b5;
  --bg-standards-icon: #517ad2;
  --bg-team-icon: #fe813e;
  --bg-solutions-icon: #84cb01;
}

body {
  background-color: var(--bg-1-section);
  font-family: "Montserrat", sans-serif;
}

body p,
#news figcaption {
  color: rgb(126, 126, 126);
}

h1 {
  font-weight: 900;
  line-height: 5rem;
}

h1,
h2,
h3,
h4 {
  color: var(--details-and-separator);
}

.btn {
  border-radius: 0px !important;
}

.btn.secondary {
  color: #ffffff;
  background-color: var(--details-and-bg-separator);
}

.btn.primary {
  background-color: var(--bg-1-details);
}

p,
h2,
h3,
h4 {
  line-height: 2rem;
}

/* HEADER */
header {
  height: 15vh;
}

header .container-fluid {
  height: 100%;
}

header img {
  width: 18rem;
}

header a {
  text-decoration: none;
  color: currentColor;
}

.right-nav :first-child {
  color: var(--bg-1-details);
  position: relative;
}

/* MAIN */

.decoration {
  height: 2px;
  width: 10vw;
  background-color: var(--bg-1-details);
}

.round-icon {
  border-radius: 50%;
  position: relative;
}

.round-icon i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card {
  background-color: var(--bg-2-section);
  border-color: transparent !important;
  border-radius: 15px !important;
  width: calc(100% / 4 - 60px) !important;
}

.view {
  margin-top: 100px;
}

.view:before,
.view:after {
  content: "";
  display: block;
  height: 3px;
  width: 30vw;
}

#explore .view:before,
#explore .view:after {
  background-color: var(--bg-2-section);
}

#news .view:before,
#news .view:after {
  background-color: var(--bg-1-section);
  width: 20vw;
}

/* Jumbotron */
#jumbotron {
  height: 85vh;
  background-image: url("../img/home-slider.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  position: relative;
}

#jumbotron .container {
  height: 100%;
}

/* .arrow {
  position: absolute;
  top: 0;
  left: 1260px;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.arrow svg {
  position: relative;
  display: block;
  width: calc(20% + 1.3px);
  height: 40px;
}

.arrow .shape-fill {
  fill: #ffffff;
} */

.jumbo-icon {
  height: 5rem;
  width: 5rem;
  border-radius: 5px;
  background-color: var(--bg-1-section);
  position: absolute;
  right: 1rem;
}

.jumbo-icon.demos {
  top: 1.5rem;
}

.jumbo-icon.on-sale {
  top: calc(1.5rem + 5rem + 1rem);
}

.price {
  position: relative;
}

.dollar {
  position: absolute;
  top: 30%;
  left: 20%;
  transform: translate(-50%, -50%);
}

#jumbotron h1 {
  color: var(--bg-1-section);
  font-size: 5rem;
}

#jumbotron h3 {
  color: var(--bg-1-details);
}

/* Jumbo-thumb */
#jumbo-thumb {
  height: 15vh;
  background-color: var(--bg-1-details);
  position: relative;
}

#jumbo-thumb .btn.secondary {
  border: 3px solid white;

  position: absolute;
  bottom: -2rem;
}

/* Specialists */
#specialists {
  margin-top: 10rem;
}

#cards {
  width: 100%;
}

#specialists .round-icon {
  border: 1px solid grey;
  height: 5rem;
  width: 5rem;
  color: grey;
}

/* Data */
#data {
  height: 80vh;
  background-image: url("../img/home.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#data img {
  width: 100%;
}

#data i,
#data h2 {
  color: var(--bg-1-details);
  font-size: 5rem;
}

#data h4 {
  color: var(--bg-1-section);
}

/* Explore */
#explore .col img {
  width: 100%;
}

/* Our Core Values */
#values,
#news {
  background-color: var(--bg-2-section);
  margin-top: 150px;
}

#values h2,
#news h2 {
  margin-top: 150px;
}

#values .round-icon {
  height: 9rem;
  width: 9rem;
  color: white;
  font-size: 4rem;
}

#services.round-icon {
  background-color: var(--bg-services-icon);
}

#standards.round-icon {
  background-color: var(--bg-standards-icon);
}

#team.round-icon {
  background-color: var(--bg-team-icon);
}

#solutions.round-icon {
  background-color: var(--bg-solutions-icon);
}

#values .separator {
  display: inline-block;
  height: 3px;
  width: 25px;
  background-color: rgb(135, 134, 134);
}

/* Our Home */
#home {
  height: 85vh;
  background-image: url("../img/home-parallax.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  position: relative;
}

#carousel {
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Latest News */
#news .card {
  background-color: var(--bg-1-section);
  border-color: transparent !important;
  border-radius: 0 !important;
  width: calc(100% / 3 - 20px) !important;
}

#news .card img {
  width: 100%;
}

#news figcaption {
  font-size: 0.8rem;
}

#news hr {
  color: rgb(109, 108, 108);
}

/* Trusted Partners */
#partners img {
  width: 80%;
}

#partners,
#spaces {
  margin-top: 150px;
}

/* Building Inspiring Spaces  */
#spaces {
  height: 40vh;
  background-image: url("../img/about-call-to-action.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}

#spaces h2,
#spaces h4,
#spaces p {
  color: var(--bg-1-section);
}

/* FOOTER */
/* Footer top */
#footer-top {
  height: 65vh;
  background-color: var(--bg-top-footer);
}

.logo-avada-foote,
.advertisement {
  width: 18rem;
}

.logo-fusion-footer {
  width: 2.5rem;
}

#footer-top h4 {
  color: var(--bg-1-details);
  font-weight: 700;
  font-size: 1rem;
}

#footer-top a {
  text-decoration: none;
}

.change-font {
  font-family: Arial, Helvetica, sans-serif;
}

/* Footer bottom */

#footer-bottom {
  height: 8vh;
  background-color: var(--bg-bottom-footer);
}

#footer-bottom p {
  color: #424242;
}
